.budget-container {
  color: #fff; 
}

.budgetSum {
  background-color: #e2e3e5;
  color: #1a1a1c;
}

.remainingSum {
  background-color: #d1e7dd;
  color: #1a1a1c;
}

.spentSum {
  background-color: #cfe2ff;
  color: #1a1a1c;
}

.form-control {
  color: black;
}

.deleteItem {
  background-color: #1a1a1c;   
  color: #fff;
} 